:root {
  --color-bg: #e7eef3;
  --color-bg-alt: #ffffff;
  --color-primary: #245ad9;
  --color-accent: #a23b72;
  --color-hover: #363b3b;
  --color-muted: #4e5355;
  --color-section: #c3d5d9;

  --font-family: 'Montserrat', sans-serif;

  --link-height: 20px;
}
